[Unit]
Description=Autostart Flutter Demo
Wants=systemd-udev-settle.service weston.service
After=systemd-udev-settle.service weston.service

[Service]
Type=simple
User=weston
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/usr/bin/flutter-client -f -b /usr/share/norik/gallery/3.7.6/release

[Install]
WantedBy=multi-user.target
